<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homepage">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Sensei_No_Kuruma"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewHolder.AdminsDTC"></activity>
        <activity android:name=".ViewHolder.RegisterActivity" />
        <activity android:name=".ViewHolder.loginActivity" />
        <activity android:name=".advice" />
        <activity android:name=".diagnosepage" />
        <activity android:name=".Userdata" />
        <activity android:name=".specialcall" />
        <activity android:name=".contactmac" />
        <activity android:name=".reportpage" />
        <activity android:name=".helppage" />
        <activity android:name=".alertpage" />
        <activity android:name=".carpage" />
        <activity android:name=".Mainpage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>